html {
    scroll-behavior: smooth;
    overscroll-behavior-x: disabled;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
}

.hrefs {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-top: 40px;
}

.hrefs a {
    display: block;
}

.mainBtn::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 2px;
    margin-top: 14px;
    background: whitesmoke;
    opacity: 0;
    transition: opacity 0.7s
}

.mainBtn:hover::after {
    opacity: 1;
    transition: opacity .5s
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-wrapper {
    background-image: url(./img/background.jpg);
    color: whitesmoke;
    background-position: center;
    background-size: cover;
    letter-spacing: 0.2em;
}

.contacts-wrapper {
    letter-spacing: 0.1em;
}

header {
    display: block;
    text-align: center;
    padding: 15px;
    width: 100vw;
    box-sizing: border-box;
}

h1 {
    font-weight: 300;
    font-size: 54px;
    padding: 10px;
}

a {
    color: inherit;
    text-decoration: none; 
    padding: 10px;
    margin: 0;
    font-size: 22px;
}

@media only screen and (min-width: 432px) {
    .hrefs {
        display: flex;
    }
}